<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8"/>
<title>View</title>
</head>
<body>
<section>
<div class="card mr-3 ml-3">
<div class="card-body">
<h1 class="text-center">Your Contacts</h1>
<div th:if="${session.message != null}" th:classappend="${session.message.type}" class="alert" role="alert">
    <p th:text="${session.message.content}"></p>
    
</div>
<!-- search -->
<div class="search-container my-4">
<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search for a contact"/>
<div class="search-result">
<h1>This is result</h1>
</div>

</div>
<div class="table-responsive">
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="c: ${contacts}">
      <th scope="row" th:text="'SCM2024'+${c.cId}">1</th>
      <td>
      <img src="" class="my_profile_picture" th:src="@{'/img/'+${c.image}}" alt="profile-photo"/>
      <span th:text="${c.name}"></span></td>
      <td><a href="#" th:href="@{'/user/'+${c.cId}+'/contact'}"><span th:text="${c.email}"></span></a></td>
      <td><span  th:text="${c.phone}"></span></td>
      <td>
    <a href="#" th:href="@{'/user/delete/' + ${c.cId}}" class="btn btn-danger btn-sm">Delete</a>
      <!-- th:href="@{'/user/delete/' + ${c.cId}}" -->
      <form method="post" th:action="@{'/user/update-contact/'+${c.cId}}" class="mt-2">
      <button type="submit" class="btn btn-primary btn-sm">Update</button>
      </form>
      </td>
    </tr>
  </tbody>
</table>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li th:if="${currentpage > 0}" class="page-item">
        <a th:href="@{'/user/show-contacts/' +${currentpage - 1}}" class="page-link">Previous</a>
    </li>
<li th:classappend="${currentpage==i-1? 'active':''}" th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item"><a class="page-link" href="#" th:href="@{'/user/show-contacts/'+${i-1}}"><span th:text="${i}"></span></a></li>
<li th:if="${currentpage+1 != totalPages}" class="page-item"><a th:href="@{'/user/show-contacts/'+${currentpage+1}}" class="page-link" href="#">Next</a></li>

  </ul>
</nav>
</div>
</div>
<script>
$(document).ready(()=>{
	$('.item').removeClass('active');
	$("#contact-link").addClass("active");
});
</script>
</section>
</body>
</html>